/* 
Project Name: Moon
Client: GA FEWD SF
Author: Sheena Stevens
*/

/******************************************
/* REFERENCE/NOTES
/*******************************************/

/*
Font Families for Reference:
font-family: 'Roboto', sans-serif; (300,400,700)
font-family: 'Merriweather', serif;
*/

/*colors:
Background greyish: #EFECE3;
greyish (darker): #DDDDD9;
Night sky: #002240;
yellow: #F5D91B;
dark yellow: #E9AE00;
red: #E00000;
light blue: #76CBFF*/

/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

/* Floats */
.floatLeft {
     float: left;
}

.floatRight {
     float: right;
}

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
     width: 100%;
     height: 100%;
     font-size: 12px;
     line-height: 1.3;
     font-family: 'Roboto', sans-serif;
     margin: 0;
     padding: 0;
}

/******************************************
/* LAYOUT                   
/*******************************************/

/* Center the container */
#container {
	width: 100%;
     height: 100%;
	margin: auto;
     text-align: center;
     position: relative;

}

header {
     margin: auto;
     margin-bottom: 10px;
     text-align: center;
     border-bottom: solid #E9AE00 2px;
     background: #F5D91B;
     line-height: .5;
     font-family: 'Roboto', sans-serif;
     font-weight: 700;
     color: #002240;
}

footer {
     font-size: .7em;
     font-weight: 300;
}

/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/

h1 {
     display: inline-block;
     font-size: 2em;
     line-height: .3;
     font-weight: 400;
}

h2 {
     font-size: 1.4em;
     font-weight: 700;
}

h3 {
     display: inline-block;
}

header a {
     display: inline-block;
     font-size: 2em;
     line-height: .3;
     font-weight: 400;
     text-decoration: none;
     color: black;
     padding: 15px;
}

p {
     margin: 0;
     font-size: 1.2em;
}

.rightAlign {
     text-align: right;
     padding-right: 5px;
}

.leftAlign p {
     text-align: left;
     padding-left: 5px;
     font-weight: 700;
}

.halfScreen {
     width: 50%;
     padding: 10px 0;
}

div#mainSection {
     max-width: 500px;
     margin: auto;
}

.sectionDiv {
     width: 90%;
     border-radius: 10px;
     background: #DDDDD9;
     margin: 10px auto;
     overflow: hidden;
}

.sectionDiv #moonImage {
     padding: 20px;
     background: #002240;
     height: 190px;
}

.moonDateSection {
     margin: auto;
}

h2#dayOfWeek {
     font-weight: 300;
     font-size: 1.6em;
}

div#dateSection {
     margin: auto;
     padding: 10px;
     text-align: left;
}

#dateSection h2 {
     margin: auto;
     padding-left: 5px;
}

#datepicker {
     position: relative; bottom: 40px;
     max-height: 1px;
}

#dateToggleSection {
     position: relative; top: 75px;
     max-height: 1px;
     padding: 0 15px;
}

#nextMoonEvent {
     margin-top: 0;
}

/******************************************
/* TOGGLE BUTTON          
/*******************************************/

.toggleWrapper {
     height: 25px;
     width: 50px;
     margin: 10px auto;
}

.toggleTrack {
     background: gray;
     border-radius: 50px;
     height: 100%;
     width: 100%;
}

p.toggleSwitch {
     width: 23px;
     height: 23px;
     margin: 1px;
     border-radius: 100px;
     padding: 3px;
}

p.toggleSwitchFull {
     float: left;
     background: white;
}

p.toggleSwitchNew {
     float: right;
     border: 1px white solid;
}

/*input .check {
     position: absolute;
     display: block;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     opacity: 0;
     margin: 0;
     z-index: 20;
}*/

/*p.toggleSwitch {
     background: white;
     position: absolute;
     top: 1px;
     left: 5%;
     width: 43%;
     height: 0;
     padding-bottom: 43%;
     margin: 3%;
     border-radius: 100px;
     z-index: 15;
     transition: .35s cubic-bezier(.785,.135,.15,.86);
     transition-property: left, right;
     transition-delay: 0s,.5s;*/




/******************************************
/* MEDIA QUERIES          
/*******************************************/



