/* 
Project Name: Moon
Client: GA FEWD SF
Author: Sheena Stevens
*/

/******************************************
/* REFERENCE/NOTES
/*******************************************/

/*
Font Families for Reference:
font-family: 'Roboto', sans-serif; (300,400,700)
font-family: 'Lobster', cursive; (only 400)
*/

/*colors:
Background greyish: #EFECE3;
greyish (darker): #DDDDD9;
Night sky: #002240;
yellow: #F5D91B;
dark yellow: #E9AE00;
red: #E00000;
light blue: #76CBFF*/

/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

/* Floats */
.floatLeft {
     float: left;
}

.floatRight {
     float: right;
}

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
     width: 100%;
     height: 100%;
     font-size: 12px;
     line-height: 1.4;
     font-family: 'Roboto', sans-serif;
     margin: 0;
     padding: 0;
/*     background: #EFECE3;*/
}

/******************************************
/* LAYOUT                   
/*******************************************/

/* Center the container */
#container {
	width: 100%;
     height: 100%;
	margin: auto;
     text-align: center;
     position: relative;

}

header {
     margin: auto;
     margin-bottom: 10px;
     text-align: center;
     border-bottom: solid #E9AE00 3px;
     background: #F5D91B;
     line-height: .5;
     font-family: 'Lobster', cursive;
     color: #002240;
}

footer {
     font-size: .7em;
     font-weight: 700;
}

/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/

h1 {
     display: inline-block;
     font-size: 3em;
     line-height: .3;
}

h2 {
     font-size: 1.4em;
     font-weight: 400;
}

h3 {
     display: inline-block;
}

div#mainSection {
     max-width: 500px;
     margin: auto;
}

.sectionDiv {
     width: 90%;
     border-radius: 10px;
     background: #DDDDD9;
     margin: 10px auto;
     overflow: hidden;
}

.sectionDiv #moonImage {
     padding: 20px;
     background: #002240;
     height: 190px;
}

div#mainContent {
     width: 90%;
}

.swipeBar {
     border-radius: 10px;
     overflow: hidden;
     background: #E9AE00;
     width: 5%;
     height: 100%;

}

.moonDateSection {
     margin: auto;
}

div#datePicker {
     display: inline;
     margin: auto;
     padding: 10px;
}

#datePicker h2 {
     margin: auto;
}

p {
     margin: 0;
     font-size: 1.2em;
}

#dateToggleSection {
     position: relative; top: 70px;
     max-height: 1px;
     padding: 0 10px;
}

.rightAlign p {
     text-align: right;
     padding-right: 5px;
}

.leftAlign p {
     text-align: left;
     padding-left: 5px;
}

.halfScreen {
     width: 50%;
     padding: 10px 0;
}

/******************************************
/* TOGGLE BUTTON          
/*******************************************/



/******************************************
/* MEDIA QUERIES          
/*******************************************/



