/* 
Project Name: Moon
Client: GA FEWD SF
Author: Sheena Stevens
*/

/******************************************
/* REFERENCE/NOTES
/*******************************************/

/*
Font Families for Reference:
font-family: 'Roboto', sans-serif; (300,400,700)
*/

/*colors:
Background greyish: #EFECE3;
Night sky: #002240;
yellow: #F5D91B;
dark yellow: #E9AE00;
red: #E00000;*/

/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
     width: 100%;
     height: 100%;
     font-size: 12px;
     line-height: 1.4;
     font-family: 'Roboto', sans-serif;
     margin: 0;
     padding: 0;
}

/******************************************
/* LAYOUT                   
/*******************************************/

/* Center the container */
#container {
	width: 100%;
     height: 100%;
	margin: auto;
     text-align: center;
     position: relative;
     background: #EFECE3;
     padding: 0;

}

header {
     margin: auto;
     text-align: center;
     border-bottom: solid #E9AE00 3px;
     background: #F5D91B;
     line-height: .5;
}

/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/

h1 {
     display: inline-block;
}

h3 {
     display: inline-block;
}

div#mainSection {
     max-width: 500px;
     margin: auto;
}

.sectionDiv #moonImage {
     padding: 20px;
     background: #002240;
     height: 190px;
}

.sectionDiv {
     width: 90%;
     border-radius: 10px;
     background: white;
     margin: 10px auto;
     overflow: hidden;
}

div#mainContent {
     width: 90%;
}

.swipeBar {
     border-radius: 10px;
     overflow: hidden;
     background: #E9AE00;
     width: 5%;
     height: 100%;

}

.moonDateSection {
     margin: auto;
}

div#datePicker {
     display: inline;
     margin: auto;
     padding: 20px;
}

#datePicker img {
     position: absolute; top: 70px;
}

#datePicker img#leftButton {
     position: absolute; left: 30px;
}

#datePicker img#rightButton {
     position: absolute; right: 30px;
}

#datePicker h2 {
     margin: auto;
}

.floatLeft {
     float: left;
}

.rightAlign p {
     text-align: right;
     padding-right: 5px;
}

.leftAlign p {
     text-align: left;
     padding-left: 5px;
}

.halfScreen {
     width: 50%;
}

/******************************************
/* MEDIA QUERIES          
/*******************************************/



